
@{
    ViewBag.Title = "SearchDict";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h2>SearchDict</h2>


@{
    if (ViewBag.SearchKey != null)
    {
        if (!ViewBag.SearchKeyFound)
        {
            <text>
                The key @ViewBag.SearchKey was not found in the dictionary. <br />
                Please enter a valid key, formatted like so: New entry (#)
            </text>
        }
        else
        {
            <text>
                The key @ViewBag.SearchKey returns the value: @ViewBag.MyDictionary[ViewBag.SearchKey] <br />
                Searching the dictionary for this value took @ViewBag.StopWatch seconds.
            </text>
        }
    }
}

<form method="post" action="@Url.Action("SearchKey", "Dictionary")">
    <fieldset>
        <legend>Enter the key for the entry you would like to search:</legend>
        <div>
            <label for="SearchKey">Key to Search:</label>
            <input type="text" name="SearchKey" value="" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Search" class="submit" />
        </div>
    </fieldset>
</form>

<div class="fixedLink">
    <a href="@Url.Action("Index", "Dictionary")" class="w3-bar-item w3-button"> Return to Dictionary Menu</a>
</div>
