@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
@ViewBag.ErrorMessage
@ViewBag.Search
@ViewBag.Time
<p>
    <ol>
        <li><a href="@Url.Action("AddOne", "Stack")" class="w3-bar-item w3-button">Add one item to Stack</a></li>
        <li><a href="@Url.Action("AddMany", "Stack")" class="w3-bar-item w3-button">Add Huge List of Items to Stack</a></li>
        <li><a href="@Url.Action("Display", "Stack")" class="w3-bar-item w3-button">Display Stack</a></li>
        <li><a href="@Url.Action("DeleteItem", "Stack")" class="w3-bar-item w3-button">Delete from Stack</a></li>
        <li><a href="@Url.Action("Clear", "Stack")" class="w3-bar-item w3-button">Clear Stack</a></li>
        <li><a href="@Url.Action("Search", "Stack")" class="w3-bar-item w3-button">Search Stack</a></li>
        <li><a href="@Url.Action("Index", "Home")" class="w3-bar-item w3-button">Return to Main Menu</a></li>
    </ol>
</p>